@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');



/* body{
  background-color: #111;
} */

#tasklist::-webkit-scrollbar{
  display: none;

}
#allTask::-webkit-scrollbar{
  display: none;

}
body {
  font-family: 'Merriweather', serif;
}
